<table width='400px'>
  <thead>
    <tr>
      <td><strong>ID</strong></td>
      <td><strong>Users</strong></td>
      <td><strong>Role</strong></td>
      <td><strong>Action</strong></td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= form_tag edit_admin_path, method: :get do %>
            <%= hidden_field_tag :user_id, user.id %>
            <%= submit_tag 'edit role', class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'back', root_path %>