<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>
<p>
  <strong>Books:</strong>
  <% @author.books.each do |book| %>
    <%= link_to "#{book.title}", book %>
  <% end %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
