<%= simple_form_for book do |form| %>

  <div class="field">
    <%= form.label "authors" %>
    <%= form.select :author_ids, Author.all.map { |author| [author.name, author.id] }, {}, multiple: true, class: 'form-control col-3' %>
  </div>

  <div class="field">
    <%= form.label "Category" %>
    <%= form.collection_select :category_id, Category.all, :id, :title,{}, class: 'form-control col-3' %>
  </div>

  <div class="field col-3">
    <%= form.input :title%>
  </div>
  <br>
  <div class="field col-4">
    <%= form.input :cover %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
