<h1>Editing Book</h1>

<%= simple_form_for @book do |form| %>

  <div class="field col-3">
    <%= form.input :title %>
  </div>
  <br>
  <div class="field col-4">
    <%= form.input :cover %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
