<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p><%= image_tag(@book.cover_url(:standard)) if @book.cover.present? %></p>

<p>
  <strong>author:</strong>
  <% @book.authors.each do |author| %>
    <%= link_to "#{author.name}", author %>
    <%= ',' unless @book.authors.last == author %>
  <% end %>
</p>


<p>
  <strong>Category:</strong>
  <%= @book.category&.title %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Back', books_path %>
<% else %>
  <%= link_to 'Back', 'javascript:history.back()' %>
<% end %>
