<h1>Categories</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th width='150px'>Title</th>
      <th>books</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.decorate.books_titles %></td>
        <td><%= link_to 'Show', category, class: 'btn btn-info' %></td>
        <% if can? :manage, Category %>
          <td><%= link_to 'Edit', edit_category_path(category), class: 'btn btn-primary' %></td>
          <td><%= link_to 'add book', add_book_page_category_path(category), class: 'btn btn-primary' %></td>
          <td><%= link_to 'remove book', remove_book_page_category_path(category), class: 'btn btn-danger' %></td>
          <td><%= link_to 'Destroy', category, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Category', new_category_path, class: 'btn btn-primary' if can? :manage, Category %>
<p><%= link_to 'back', root_path %></p>