<h1>Categories</h1>

<table width="700px">
  <thead>
    <tr>
      <th width='100px'>Title</th>
      <th>books</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td>
          <% category.books.each do |book| %>
            <ul>
              <%= book.title %>
            </ul>
          <% end %>
        </td>
        <td><%= link_to 'Show', category %></td>
        <% if can? :manage, Category %>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'add book', add_book_page_category_path(category) %></td>
          <td><%= link_to 'remove book', remove_book_page_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path if can? :manage, Category %>
